;==========================================================
;
;
;   ██████╗  ██████╗ ██╗  ██╗   ██╗██████╗  █████╗ ██████╗
;   ██╔══██╗██╔═══██╗██║  ╚██╗ ██╔╝██╔══██╗██╔══██╗██╔══██╗
;   ██████╔╝██║   ██║██║   ╚████╔╝ ██████╔╝███████║██████╔╝
;   ██╔═══╝ ██║   ██║██║    ╚██╔╝  ██╔══██╗██╔══██║██╔══██╗
;   ██║     ╚██████╔╝███████╗██║   ██████╔╝██║  ██║██║  ██║
;   ╚═╝      ╚═════╝ ╚══════╝╚═╝   ╚═════╝ ╚═╝  ╚═╝╚═╝  ╚═╝
;
;
;   To learn more about how to configure Polybar
;   go to https://github.com/polybar/polybar
;
;   The README contains a lot of information
;
;==========================================================

[color]
;; Active Colors
bg = #68000000
fg = #f8f8f2
fg-alt = #9C9C9C

trans = #00000000
white = #F8F8F2
black = #000000

;; Material Colors
red = #EE4F84
pink = #F48FB1
purple = #BD99FF
deep-purple = #985EFF
indigo = #3949ab
blue = #6498EF
light-blue = #92B6F4
cyan = #24D1E7
teal = #87DFEB
green = #53E2AE
light-green = #A1EFD3
lime = #c0ca33
yellow = #F1FF52
light-yellow = #F1FA8C
grey = #3D4C5F
light-gray = #56687E

[global/wm]
; Adjust the _NET_WM_STRUT_PARTIAL top value
; Used for top aligned bars
margin-bottom = 0

; Adjust the _NET_WM_STRUT_PARTIAL bottom value
; Used for bottom aligned bars
margin-top = 0

[bar/mainbar0]
inherit = bar/barbase
modules-left = application-menu moc mem
modules-center = workspace
tray-position = right
tray-detached = false
tray-maxsize = 28
tray-offset-x = 0
tray-offset-y = 0
tray-padding = 0
tray-scale = 1.0
tray-background = #000000

[bar/mainbar1]
inherit = bar/barbase
modules-left =
modules-center = workspace

[bar/barbase]
width = 100%
monitor = ${env:monitor}
offset-x = 0
offset-y = 0
height = 54
fixed-center = true
bottom = true

background = ${color.bg}
foreground = ${color.fg}

radius-top = 0.0
radius-bottom = 0.0

padding = 3
module-margin-left = 2
module-margin-right = 0

font-0 = "Droid:size=25:weight=semibold;3"
font-1 = "SauceCodePro Nerd Font:size=25:weight=semibold;3"
font-2 = "SauceCodePro Nerd Font:size=16"
modules-right = date 
;sysmenu

enable-ipc = true

[settings]

throttle-output = 5
throttle-output-for = 10

screenchange-reload = false

compositing-background = over
;source
compositing-foreground = over
compositing-overline = over
compositing-underline = over
compositing-border = over
pseudo-transparency = false

#####################################################################

[module/workspace]
type = custom/script
exec = leftwm-state -w $index -t "$SCRIPTPATH/template.liquid"
tail = true

scroll-up = leftwm-command FocusPreviousTag
scroll-down = leftwm-command FocusNextTag

[module/cpu]
type = internal/cpu
interval = 2
;format-prefix = " "
;format-prefix-foreground = ${colors.shade4}
;format-foreground = ${colors.modulefg}
;format-background = ${colors.shade6}
;format-underline = #f90000
label = CPU %percentage:2%%

[module/memory]
type = internal/memory
interval = 2
;format-prefix = " "
;format-prefix-foreground = ${colors.foreground-alt}
;format-underline = #4bffdc
;format-foreground = ${colors.modulefg}
;format-background = ${colors.shade5}
label = MEM %percentage_used%%

[module/wlan]
type = internal/network
interface = net1
interval = 3.0

format-connected = <ramp-signal> <label-connected>
;format-connected-foreground = ${colors.modulefg}
;format-connected-background = ${colors.shade5}
;format-connected-underline = #9f78e1
label-connected = %essid%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}

ramp-signal-0 = 
ramp-signal-1 = 
ramp-signal-2 = 
ramp-signal-3 = 
ramp-signal-4 = 
ramp-signal-foreground = ${colors.foreground-alt}

[module/eth]
type = internal/network
interface = enp0s31f6
interval = 3.0

;format-connected-underline = #55aa55
format-connected-prefix = " "
format-connected-prefix-foreground = ${colors.foreground-alt}
label-connected = IP %local_ip%

format-disconnected =
;format-disconnected = <label-disconnected>
;format-disconnected-underline = ${self.format-connected-underline}
;label-disconnected = %ifname% disconnected
;label-disconnected-foreground = ${colors.foreground-alt}
;format-connected-background = ${colors.shade5}
;format-connected-foreground = ${colors.modulefg}

[module/pulseaudio]
type = internal/pulseaudio

format-volume = <label-volume>
format-volume-background = ${colors.background}
format-volume-foreground = ${colors.foreground}
label-volume = VOL %percentage%%
label-volume-foreground = ${colors.foreground}

label-muted =  muted
label-muted-foreground = #888

bar-volume-width = 10
bar-volume-foreground-0 = #55aa55
bar-volume-foreground-1 = #55aa55
bar-volume-foreground-2 = #55aa55
bar-volume-foreground-3 = #55aa55
bar-volume-foreground-4 = #55aa55
bar-volume-foreground-5 = #f5a70a
bar-volume-foreground-6 = #ff5555
bar-volume-gradient = false
bar-volume-indicator = |
bar-volume-indicator-font = 2
bar-volume-fill = ─
bar-volume-fill-font = 2
bar-volume-empty = ─
bar-volume-empty-font = 2
bar-volume-empty-foreground = ${colors.foreground-alt}

[module/temperature]
type = internal/temperature
thermal-zone = 0
warn-temperature = 60

format = <label>
format-underline = #f50a4d
format-warn = <label-warn>
format-warn-underline = ${self.format-underline}
format-background = ${colors.background}
format-foreground = ${colors.foreground}

label = %temperature-c%
label-warn =    %temperature-c%
label-warn-foreground = ${colors.secondary}

[module/date]
type = internal/date
interval = 5
time = " %l:%M %p"
time-alt = " %A, %B %d, %Y"
;format-prefix = 
;format-prefix-foreground = ${colors.foreground-alt}
;format-background = ${colors.shade2}
;format-foreground = ${colors.modulefg}
;format-underline = #0a6cf5
label = %date% %time%

[module/kernel]
type = custom/script
exec = uname -r
tail = false
interval = 1024

format-foreground = ${colors.foreground}
format-background = ${colors.background}
format-prefix = "  "
format-prefix-foreground = ${colors.foreground}
format-underline =${colors.foreground}

click-left = xfce4-taskmanager
click-middle = xfce4-taskmanager
click-right = alacritty -e bpytop

[module/quote]
type = custom/text
content = Follow the white rabbit. Knock. Knock. 
content-foreground = ${colors.foreground}
content-background = ${colors.background}
content-prefix = "  "
content-prefix-foreground = ${colors.foreground}
;content-underline = ${colors.foreground}

[module/arch-updates]
type = custom/script
exec = ~/.config/leftwm/themes/current/scripts/check-arch-updates.sh
interval = 1000
label = Arch: %output%
format-foreground = ${colors.foreground}
format-background = ${colors.background}
format-prefix = "  "
format-prefix-foreground = ${colors.foreground}
format-underline = ${colors.foreground}
click-left = urxvt
click-middle = xfce4-terminal
click-right = alacritty

[module/aur-updates]
type = custom/script
exec = ~/.config/leftwm/themes/current/scripts/check-aur-updates.sh
interval = 1000
label = Aur: %output%
format-foreground = ${colors.foreground}
format-background = ${colors.background}
format-prefix = "  "
format-prefix-foreground = ${colors.foreground}
format-underline = ${colors.foreground}
click-left = urxvt
click-middle = xfce4-terminal
click-right = alacritty

[module/application-menu]
type = custom/text
content = "  "
content-foreground = #FFF
click-left = xfce4-appfinder
click-middle = xfce4-appfinder
click-right = alacritty

[module/sysmenu]
type = custom/text
content = " 襤 "
content-foreground = ${colors.foreground}
click-left = arcolinux-logout
click-right = arcolinux-logout

[module/mem]
type = custom/script
exec = ~/.config/leftwm/themes/current/scripts/mem.sh 
format-foreground = "#FFFF99"
interval = 1


[module/moc]
type = custom/script
exec = ~/.config/leftwm/themes/current/scripts/moc.sh
format-foreground = "#B266FF"
click-left = mocp -G
interval = 1
